<template name="day1">
	<div class="row">
		<div class="col-md-2">Day 1</div>
		<div class="col-md-2">Time</div>
		<div class="col-md-2">MPH</div>
		<div class="col-md-2">Elevation</div>
		<div class="col-md-2">Band Used</div>
		<div class="col-md-2">Start/Finish</div>
	</div>
	<form name="day1">
		<div class="row">
			<div class="col-md-2"><label></label></div>
			<div class="col-md-2"><input name="" value="" type="" placeholder="" /></div>
			<div class="col-md-2"><input name="" value="" type="" placeholder="" /></div>
			<div class="col-md-2"><input name="" value="" type="" placeholder="" /></div>
			<div class="col-md-2"><input name="" value="" type="" placeholder="" /></div>
			<div class="col-md-2"><input name="" value="" type="" placeholder="" /></div>
		</div>
	</form>
</template>
